<form action="{{ path('admin.users.delete', {id: user.id}) }}" method="POST" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette utilisateur ?')">
	<input type="hidden" name="token" value="{{csrf_token('delete' ~ user.id)}}">
	<button type="submit" class="btn btn-danger">Supprimer</button>
</form>
