{% extends 'base.html.twig' %}

{% block title %}
	Image des produits
	{{ parent() }}
{% endblock %}

{% block body %}

	<section class="container">
		<h1 class="text-center">Administration des images</h1>
	</section>

{% endblock %}
